body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.headerWrapper {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footerWrapper {
  width: 100%;
  padding: 16px;
  border-top: 1px solid grey;
  margin-top: auto;
  display: flex;
  justify-content: center;
}
